{% extends 'base.html' %}

{% block content %}
<script>
    $(document).ready(function () {
        function url_change() {
            var url = "http://127.0.0.1:5000/generador/search";
            var search = $("#texto3").val();
            var criterio = $("#criterio3").val();
            var new_url = url + "/" + criterio + "/" + search;
            $("#boton3").attr("href", new_url);
        }
    
        $("#texto3").keyup(function () {
            url_change();
        });
        $("#criterio3").change(function () {
            url_change();
        });
    });
</script>
<div class="container mt-4">
    <h2>Lista de Generadores</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <a href="/generador/register" class=" btn btn-success">Agregar</a>

    <div class="mt-3 mb-3">
        <label for="criterio">Criterio:</label>
        <select name="criterio" id="criterio3" class="form-control">
            <option value="codigoGenerador">Codigo Generador</option>
            <option value="modelo">Modelo</option>
            <option value="costo">Costo</option>
            <option value="uso">Uso</option>
        </select>

        <label for="texto">Texto:</label>
        <input type="text" id="texto3" name="texto" placeholder="Buscar..." value="{{ request.args.get('texto', '') }}" class="form-control">

        <div class="d-flex align-items-center">
            <a id="boton3" class="btn btn-primary">
                <i class="fas fa-search-times">Buscar</i>
            </a>
        </div>
    </div>


    <form method="GET" action="{{ url_for('generador.home_generador') }}">
        <label for="criterio">Criterio:</label>
        <select name="criterio" id="criterio">
            <option value="modelo" {% if criterio=='modelo' %}selected{% endif %}>Modelo</option>
            <option value="consumoComustible" {% if criterio=='consumoComustible' %}selected{% endif %}>Consumo</option>
            <option value="uso" {% if criterio=='uso' %}selected{% endif %}>Uso</option>
        </select>

        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo">
            <option value="1" {% if tipo=='1' %}selected{% endif %}>Ascendente</option>
            <option value="0" {% if tipo=='0' %}selected{% endif %}>Descendente</option>
        </select>

        <label for="metodo">Metodo:</label>
        <select name="metodo" id="metodo">
            <option value="quick" {% if metodo=='quick' %}selected{% endif %}>Quick</option>
            <option value="merge" {% if metodo=='merge' %}selected{% endif %}>Merge</option>
            <option value="shell" {% if metodo=='shell' %}selected{% endif %}>Shell</option>
        </select>

        <button type="submit">Ordenar</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo generador</th>
                <th>Modelo</th>
                <th>Consumo</th>
                <th>Costo</th>
                <th>Energia generada(kWh)</th>
                <th>Uso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if lista %}
            {% for generador in lista %}
            <tr>
                <td>{{ generador.codigoGenerador}}</td>
                <td>{{ generador.modelo }}</td>
                <td>{{ generador.consumoComustible }}</td>
                <td>{{ generador.costo }}</td>
                <td>{{ generador.enegeriaGenerada }}</td>
                <td>{{ generador.uso }}</td>
                <td>
                    <a href="/generador/editar/{{generador.id}}" class="btn btn-info">Modificar</a>
                    <a href="{{ url_for('generador.eliminar_generador', id=generador.id) }}"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('¿Estas seguro de que quieres eliminar este generador?')">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6" class="text-center">No hay generadores disponibles.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}